<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="SGIMSIMS"
      connectionString="Data Source=SQL5080.site4now.net;Initial Catalog=DB_A66492_SGIMSIMS;User Id=DB_A66492_SGIMSIMS_admin;Password=WELcome#2013" providerName="sqloledb;Data"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>

    <customErrors mode="Off"/>

  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>